<div>
  <form (submit)="login($event)" class="login" method="POST" action="/login/">
    <div class="form-group">
      <input type="email" name="login" autofocus="autofocus" [(ngModel)]="email"
             id="id_login" placeholder="E-mail" class="form-control">
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password" id="id_password">
    </div>

    <input type="hidden" name="next" value="/">

    <button class="btn btn-lg btn-success btn-block" type="submit">Sign In</button>
  </form>
</div>
